:root {
    --yellow: hsl(37, 98%, 53%);
    --gray: hsl(0, 0%, 90%);
    --white: hsl(0, 0%, 100%);
    --blue: hsl(221, 51%, 16%);
    --darken-blue: hsl(222, 60%, 11%);
    --black: hsl(0, 0%, 0%);

    font-family: 'Azeret Mono';
}

body {
    background-color: var(--yellow);
    color: var(--blue);
}

/* HEADER */

.header__container {
    height: 10vh;
    max-height: 10vh
}

/* FOOTER */

.footer__container {

}

/* APP */
.app__container {
    margin: 0 auto;
    max-width: 1270px;
    width: 100%;
}



.main__container {
    height: 80vh;
    max-height: 80vh
}

.description__container {
    width: 100%;
    text-align: center;
}

.description__container > .description {
    font-weight: 100;
}

.addLink__container {
    width: 100%;

    background: none;
    outline: none;

    border: .5rem dashed var(--blue);
    padding: 2rem 2rem;

    font-size: 1.5rem;
    color: var(--blue);   
}

.btn {
    background-color: var(--blue);
    color: var(--gray);

    border: none;
    padding: 0.5rem 1rem;

    transition: background 100ms ease-in;
}

.btn:hover {
    background-color: var(--darken-blue);
}

.clips-list {
    /* scrollbar for firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--blue) none;
    max-height: 400px;
    height: 40vh;

    overflow-y: auto;
}

/* scrollbar for chrome, edge and safari */
.clips-list::-webkit-scrollbar {
    width: 10px;
}

.clips-list::-webkit-scrollbar-track {
    background: none;
  }

  .clips-list::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border-radius: 10px;
    border: 3px solid var(--blue);
  }

.clips-list .list-clip {
    list-style: "🚀";
    padding: .25rem .5rem;
}

.clips-list .no-clip {
    list-style: none;
}

.clip-info {
    display: flex;
}

.clip-info-buttons {
    margin-left: 1rem;

    display: flex;
    font-size: 1.5rem;
}